{{ $ := .root }}
{{ $page := .page }}

<!-- John widget -->
<div class="row" itemprop="john" itemscope itemtype="http://schema.org/Person">
    <div class="col-xs-12 col-md-4">

         &nbsp;

    </div>
  </div>
  <div class="col-xs-12 col-md-8" itemprop="description">

    <div class="row">

      {{ with $page.Params.interests }}
      <div class="col-sm-3">
        <ul class="ul-interests">
          {{ range .interests }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}

      {{ with $page.Params.contact }}
	  
      <div class="col-sm-9">
        <ul class="ul-edu fa-ul">
          {{ range .detail }}
          <li>
            <div class="description">
              <p class="course">{{ .icon }} - {{ .primary }} </p>
              <p class="institution">{{ .secondary }} {{ end }}</p>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>

    </div>
  </div>
</div>
